<?xml version="1.0" encoding="UTF-8"?>
<!-- See http://stackoverflow.com/questions/471424/wix-tricks-and-tips -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <?define ProductVersion = "2.0.0"?>
   <Product Id="*"
      UpgradeCode="1948F590-CD4C-4279-9466-5A172FEA8FCE"
      Name="NuBuild Project System" 
      Version="$(var.ProductVersion)" 
      Manufacturer="Brent M. Spell"
      Language="1033">
      <Package
         Description="A NuGet packaging project system for Visual Studio" 
         Keywords="nuget nuproj build system visual studio"
         Compressed="yes"
         InstallPrivileges="elevated"/>
      <MediaTemplate EmbedCab="yes"/>
      <Directory Id="TARGETDIR" Name="SourceDir">
         <!-- MSBuild Directories -->
         <Directory Id="ProgramFilesFolder" Name="ProgFile">
            <Directory Id="MSBuildFolder" Name="MSBuild">
               <Directory Id="INSTALLFOLDER" Name="NuBuild">
                  <Directory Id="MSBuildNuBuildV1Folder" Name="v1"/>
               </Directory>
            </Directory>
         </Directory>
         <!-- VS 2010 Extension Directories -->
         <Directory Id="VS2010Folder" Name="VS2010">
            <Directory Id="VS2010ExtFolder" Name="Extensions">
               <Directory Id="VS2010ExtNuBuildFolder" Name="NuBuild">
                  <Directory Id="VS2010ExtNuBuildNuBuildFolder" Name="NuBuild">
                     <!--
                     <Directory Id="VS2010ExtNuBuildV1Folder" Name="1.1">
                        <Directory Id="VS2010ExtNuBuildV1ResourcesFolder" Name="Resources"/>
                        <Directory Id="VS2010ExtNuBuildV1ProjectTemplatesFolder" Name="ProjectTemplates"/>
                        <Directory Id="VS2010ExtNuBuildV1ItemTemplatesFolder" Name="ItemTemplates"/>
                        -->
                     <Directory Id="VS2010ExtNuBuildV2Folder" Name="2.0">
                        <Directory Id="VS2010ExtNuBuildV2ResourcesFolder" Name="Resources"/>
                        <Directory Id="VS2010ExtNuBuildV2ProjectTemplatesFolder" Name="ProjectTemplates"/>
                        <Directory Id="VS2010ExtNuBuildV2ItemTemplatesFolder" Name="ItemTemplates"/>
                     </Directory>
                  </Directory>
               </Directory>
            </Directory>
         </Directory>
         <!-- VS 2012 Extension Directories -->
         <Directory Id="VS2012Folder" Name="VS2012">
            <Directory Id="VS2012ExtFolder" Name="Extensions">
               <Directory Id="VS2012ExtNuBuildFolder" Name="NuBuild">
                  <Directory Id="VS2012ExtNuBuildNuBuildFolder" Name="NuBuild">
                     <!--
                     <Directory Id="VS2012ExtNuBuildV1Folder" Name="1.1">
                        <Directory Id="VS2012ExtNuBuildV1ResourcesFolder" Name="Resources"/>
                        <Directory Id="VS2012ExtNuBuildV1ProjectTemplatesFolder" Name="ProjectTemplates"/>
                        <Directory Id="VS2012ExtNuBuildV1ItemTemplatesFolder" Name="ItemTemplates"/>
                        -->
                     <Directory Id="VS2012ExtNuBuildV2Folder" Name="2.0">
                        <Directory Id="VS2012ExtNuBuildV2ResourcesFolder" Name="Resources"/>
                        <Directory Id="VS2012ExtNuBuildV2ProjectTemplatesFolder" Name="ProjectTemplates"/>
                        <Directory Id="VS2012ExtNuBuildV2ItemTemplatesFolder" Name="ItemTemplates"/>
                     </Directory>
                  </Directory>
               </Directory>
            </Directory>
         </Directory>
         <!-- VS 2013 Extension Directories -->
         <Directory Id="VS2013Folder" Name="VS2013">
            <Directory Id="VS2013ExtFolder" Name="Extensions">
               <Directory Id="VS2013ExtNuBuildFolder" Name="NuBuild">
                  <Directory Id="VS2013ExtNuBuildNuBuildFolder" Name="NuBuild">
                     <!--
                     <Directory Id="VS2013ExtNuBuildV1Folder" Name="1.1">
                        <Directory Id="VS2013ExtNuBuildV1ResourcesFolder" Name="Resources"/>
                        <Directory Id="VS2013ExtNuBuildV1ProjectTemplatesFolder" Name="ProjectTemplates"/>
                        <Directory Id="VS2013ExtNuBuildV1ItemTemplatesFolder" Name="ItemTemplates"/>
                        -->
                     <Directory Id="VS2013ExtNuBuildV2Folder" Name="2.0">
                        <Directory Id="VS2013ExtNuBuildV2ResourcesFolder" Name="Resources"/>
                        <Directory Id="VS2013ExtNuBuildV2ProjectTemplatesFolder" Name="ProjectTemplates"/>
                        <Directory Id="VS2013ExtNuBuildV2ItemTemplatesFolder" Name="ItemTemplates"/>
                     </Directory>
                  </Directory>
               </Directory>
            </Directory>
         </Directory>
      </Directory>
      <Feature Id="All" 
         Title="NuBuild Project System" 
         Description="NuGet build framework and project templates"
         ConfigurableDirectory="INSTALLFOLDER">
         <ComponentGroupRef Id="Product.Generated"/>
         <!-- MSBuild Files -->
         <Feature Id="MSBuild" Level="1">
            <Component Id="NuBuild_targets" Guid="*" Directory="MSBuildNuBuildV1Folder">
               <File Id="NuBuild_targets" Source="..\MSBuild\Config\NuBuild.targets"/>
            </Component>
            <Component Id="NuBuild_tasks" Guid="*" Directory="MSBuildNuBuildV1Folder">
               <File Id="NuBuild_tasks" Source="..\MSBuild\Config\NuBuild.tasks"/>
            </Component>
            <Component Id="NuBuild_MSBuild_Tasks_dll" Guid="*" Directory="MSBuildNuBuildV1Folder">
               <File Id="NuBuild_MSBuild_Tasks_dll" Source="..\Bin\NuBuild.MSBuild.Tasks.dll"/>
            </Component>
            <Component Id="NuBuild_MSBuild_Core_dll" Guid="*" Directory="MSBuildNuBuildV1Folder">
               <File Id="NuBuild_MSBuild_Core_dll" Source="..\Bin\NuBuild.Core.dll"/>
            </Component>
            <Component Id="NuBuild_MSBuild_NuGet_Core_dll" Guid="*" Directory="MSBuildNuBuildV1Folder">
               <File Id="NuBuild_MSBuild_NuGet_Core_dll" Source="..\Bin\NuGet.Core.dll"/>
            </Component>
         </Feature>
         <!-- VS2010 Extension Files -->
         <Feature Id="VS2010" Level="1">
            <Condition Level="0">NOT Installed AND NOT VS2010INSTALLDIR</Condition>
            <!--
            <Component Id="VS2010_NuBuild_Package_dll" Guid="{695A5D27-3FB8-4958-A930-D3D308A26945}" Directory="VS2010ExtNuBuildV1Folder">
               <File Id="VS2010_NuBuild_Package_dll" Source="..\Bin\VS\NuBuild.VS.Package.dll"/>
            </Component>
            <Component Id="VS2010_NuBuild_Core_dll" Guid="{B44C8CDF-269B-42D4-8226-4CFD8C3650C7}" Directory="VS2010ExtNuBuildV1Folder">
               <File Id="VS2010_NuBuild_Core_dll" Source="..\Bin\NuBuild.Core.dll"/>
            </Component>
            <Component Id="VS2010_NuBuild_Package_pkgdef" Guid="{E72F1419-6C09-43D1-B622-E689E2AE696D}" Directory="VS2010ExtNuBuildV1Folder">
               <File Id="VS2010_NuBuild_Package_pkgdef" Source="..\Bin\VS\NuBuild.VS.Package.pkgdef"/>
            </Component>
            <Component Id="VS2010_Extension_vsixmanifest" Guid="{2A950DC8-91CB-46F0-A022-03FA8C075043}" Directory="VS2010ExtNuBuildV1Folder">
               <File Id="VS2010_Extension_vsixmanifest" Source="..\Bin\VS\extension.vsixmanifest"/>
            </Component>
            <Component Id="VS2010_license_txt" Guid="{A04B568B-6CC3-4DF6-B5F0-B022C57BB695}" Directory="VS2010ExtNuBuildV1ResourcesFolder">
               <File Id="VS2010_license_txt" Source="..\Bin\VS\Resources\license.txt"/>
            </Component>
            <Component Id="VS2010_NuBuild_png" Guid="{6A7C3DA1-40D9-4D3C-B278-7DBBBA3618ED}" Directory="VS2010ExtNuBuildV1ResourcesFolder">
               <File Id="VS2010_NuBuild_png" Source="..\Bin\VS\Resources\nubuild.png"/>
            </Component>
            <Component Id="VS2010_NuProj_zip" Guid="{E780E9E9-4128-4AA3-901D-7224C4AF8261}" Directory="VS2010ExtNuBuildV1ProjectTemplatesFolder">
               <File Id="VS2010_NuProj_zip" Source="..\Bin\VS\ProjectTemplates\NuProj.zip"/>
            </Component>
            <Component Id="VS2010_NuSpec_zip" Guid="{470120E5-116A-4781-86BB-37023EE0C1E1}" Directory="VS2010ExtNuBuildV1ItemTemplatesFolder">
               <File Id="VS2010_NuSpec_zip" Source="..\Bin\VS\ItemTemplates\NuSpec.zip"/>
            </Component>
            -->
            <Component Id="VS2010_NuBuild_Package_dll" Guid="{17BE743E-952C-4B7F-9D95-ED401EB007E3}" Directory="VS2010ExtNuBuildV2Folder">
               <File Id="VS2010_NuBuild_Package_dll" Source="..\Bin\VS\NuBuild.VS.Package.dll"/>
            </Component>
            <Component Id="VS2010_NuBuild_Core_dll" Guid="{2A103385-5490-41A4-BB7E-13F2058BEB8D}" Directory="VS2010ExtNuBuildV2Folder">
               <File Id="VS2010_NuBuild_Core_dll" Source="..\Bin\NuBuild.Core.dll"/>
            </Component>
            <Component Id="VS2010_NuBuild_Package_pkgdef" Guid="{8E85F730-E8EF-44F4-8C54-A162D6D840A9}" Directory="VS2010ExtNuBuildV2Folder">
               <File Id="VS2010_NuBuild_Package_pkgdef" Source="..\Bin\VS\NuBuild.VS.Package.pkgdef"/>
            </Component>
            <Component Id="VS2010_Extension_vsixmanifest" Guid="{947F962B-EF90-4CED-899B-E9CF8EC98E86}" Directory="VS2010ExtNuBuildV2Folder">
               <File Id="VS2010_Extension_vsixmanifest" Source="..\Bin\VS\extension.vsixmanifest"/>
            </Component>
            <Component Id="VS2010_license_txt" Guid="{93344E44-CF21-4726-BAEB-F2DF2ABF886A}" Directory="VS2010ExtNuBuildV2ResourcesFolder">
               <File Id="VS2010_license_txt" Source="..\Bin\VS\Resources\license.txt"/>
            </Component>
            <Component Id="VS2010_NuBuild_png" Guid="{DC08CA40-733B-486C-BEBA-8216D1ECE672}" Directory="VS2010ExtNuBuildV2ResourcesFolder">
               <File Id="VS2010_NuBuild_png" Source="..\Bin\VS\Resources\nubuild.png"/>
            </Component>
            <Component Id="VS2010_NuProj_zip" Guid="{B2DE0538-5D74-45C3-9595-34BD63084DE7}" Directory="VS2010ExtNuBuildV2ProjectTemplatesFolder">
               <File Id="VS2010_NuProj_zip" Source="..\Bin\VS\ProjectTemplates\NuProj.zip"/>
            </Component>
            <Component Id="VS2010_NuSpec_zip" Guid="{D9F65F99-BEF7-4297-99A1-F2D7CA0BBB49}" Directory="VS2010ExtNuBuildV2ItemTemplatesFolder">
               <File Id="VS2010_NuSpec_zip" Source="..\Bin\VS\ItemTemplates\NuSpec.zip"/>
            </Component>
         </Feature>
         <!-- VS2012 Extension Files -->
         <Feature Id="VS2012" Level="1">
            <Condition Level="0">NOT Installed AND NOT VS2012INSTALLDIR</Condition>
            <!--
            <Component Id="VS2012_NuBuild_Package_dll" Guid="{5F4701E0-D4FC-41A3-82E5-23BDCC17FCDA}" Directory="VS2012ExtNuBuildV1Folder">
               <File Id="VS2012_NuBuild_Package_dll" Source="..\Bin\VS\NuBuild.VS.Package.dll"/>
            </Component>
            <Component Id="VS2012_NuBuild_Core_dll" Guid="{58E63899-FCA5-4296-B8A9-59E32D0FE494}" Directory="VS2012ExtNuBuildV1Folder">
               <File Id="VS2012_NuBuild_Core_dll" Source="..\Bin\NuBuild.Core.dll"/>
            </Component>
            <Component Id="VS2012_NuBuild_Package_pkgdef" Guid="{39F75623-330F-44B3-B3F9-EC81E31BDAE9}" Directory="VS2012ExtNuBuildV1Folder">
               <File Id="VS2012_NuBuild_Package_pkgdef" Source="..\Bin\VS\NuBuild.VS.Package.pkgdef"/>
            </Component>
            <Component Id="VS2012_Extension_vsixmanifest" Guid="{542CB291-07B7-4D15-AA0F-0275DA148438}" Directory="VS2012ExtNuBuildV1Folder">
               <File Id="VS2012_Extension_vsixmanifest" Source="..\Bin\VS\extension.vsixmanifest"/>
            </Component>
            <Component Id="VS2012_license_txt" Guid="{54AA23C4-1735-4520-B790-CB7BCC9FC37D}" Directory="VS2012ExtNuBuildV1ResourcesFolder">
               <File Id="VS2012_license_txt" Source="..\Bin\VS\Resources\license.txt"/>
            </Component>
            <Component Id="VS2012_NuBuild_png" Guid="{D889968E-0442-4AFA-80E0-7E5D28A788CD}" Directory="VS2012ExtNuBuildV1ResourcesFolder">
               <File Id="VS2012_NuBuild_png" Source="..\Bin\VS\Resources\nubuild.png"/>
            </Component>
            <Component Id="VS2012_NuProj_zip" Guid="{B544D530-3A85-467F-8621-2089D81345F0}" Directory="VS2012ExtNuBuildV1ProjectTemplatesFolder">
               <File Id="VS2012_NuProj_zip" Source="..\Bin\VS\ProjectTemplates\NuProj.zip"/>
            </Component>
            <Component Id="VS2012_NuSpec_zip" Guid="{FB2F5A86-5570-4B3C-AA74-60E54FA5F92D}" Directory="VS2012ExtNuBuildV1ItemTemplatesFolder">
               <File Id="VS2012_NuSpec_zip" Source="..\Bin\VS\ItemTemplates\NuSpec.zip"/>
            </Component>
            -->
            <Component Id="VS2012_NuBuild_Package_dll" Guid="{006577D1-8091-4E41-A369-0ABDDCB9CDB2}" Directory="VS2012ExtNuBuildV2Folder">
               <File Id="VS2012_NuBuild_Package_dll" Source="..\Bin\VS\NuBuild.VS.Package.dll"/>
            </Component>
            <Component Id="VS2012_NuBuild_Core_dll" Guid="{8A8D31AF-77B0-448E-B6DB-76EC0C70387F}" Directory="VS2012ExtNuBuildV2Folder">
               <File Id="VS2012_NuBuild_Core_dll" Source="..\Bin\NuBuild.Core.dll"/>
            </Component>
            <Component Id="VS2012_NuBuild_Package_pkgdef" Guid="{EFB669E9-F258-44CF-BAF9-15613CEBF0EF}" Directory="VS2012ExtNuBuildV2Folder">
               <File Id="VS2012_NuBuild_Package_pkgdef" Source="..\Bin\VS\NuBuild.VS.Package.pkgdef"/>
            </Component>
            <Component Id="VS2012_Extension_vsixmanifest" Guid="{4B66CE67-C29D-4EB1-8B45-6EE51FDF0B70}" Directory="VS2012ExtNuBuildV2Folder">
               <File Id="VS2012_Extension_vsixmanifest" Source="..\Bin\VS\extension.vsixmanifest"/>
            </Component>
            <Component Id="VS2012_license_txt" Guid="{29338CDD-BCE5-4A8F-B531-594C237E7DC3}" Directory="VS2012ExtNuBuildV2ResourcesFolder">
               <File Id="VS2012_license_txt" Source="..\Bin\VS\Resources\license.txt"/>
            </Component>
            <Component Id="VS2012_NuBuild_png" Guid="{6370537B-6208-4BA8-88FC-EED804AF4738}" Directory="VS2012ExtNuBuildV2ResourcesFolder">
               <File Id="VS2012_NuBuild_png" Source="..\Bin\VS\Resources\nubuild.png"/>
            </Component>
            <Component Id="VS2012_NuProj_zip" Guid="{6331AFE0-E4D9-4195-956C-3FC8311EF4FF}" Directory="VS2012ExtNuBuildV2ProjectTemplatesFolder">
               <File Id="VS2012_NuProj_zip" Source="..\Bin\VS\ProjectTemplates\NuProj.zip"/>
            </Component>
            <Component Id="VS2012_NuSpec_zip" Guid="{E25C5DDC-36CC-4B19-A3CD-2C92CEC63B78}" Directory="VS2012ExtNuBuildV2ItemTemplatesFolder">
               <File Id="VS2012_NuSpec_zip" Source="..\Bin\VS\ItemTemplates\NuSpec.zip"/>
            </Component>
         </Feature>
         <!-- VS2013 Extension Files -->
         <Feature Id="VS2013" Level="1">
            <Condition Level="0">NOT Installed AND NOT VS2013INSTALLDIR</Condition>
            <!--
            <Component Id="VS2013_NuBuild_Package_dll" Guid="{8F985601-7882-499A-8AC5-22465595EB53}" Directory="VS2013ExtNuBuildV1Folder">
               <File Id="VS2013_NuBuild_Package_dll" Source="..\Bin\VS\NuBuild.VS.Package.dll"/>
            </Component>
            <Component Id="VS2013_NuBuild_Core_dll" Guid="{79487FEC-6AC3-444A-ABD5-B6A4EB530313}" Directory="VS2013ExtNuBuildV1Folder">
               <File Id="VS2013_NuBuild_Core_dll" Source="..\Bin\NuBuild.Core.dll"/>
            </Component>
            <Component Id="VS2013_NuBuild_Package_pkgdef" Guid="{3A02CE96-F356-4626-8B26-79484654E45C}" Directory="VS2013ExtNuBuildV1Folder">
               <File Id="VS2013_NuBuild_Package_pkgdef" Source="..\Bin\VS\NuBuild.VS.Package.pkgdef"/>
            </Component>
            <Component Id="VS2013_Extension_vsixmanifest" Guid="{977DAFF7-E29C-42E6-AD55-9F02B70E3ED5}" Directory="VS2013ExtNuBuildV1Folder">
               <File Id="VS2013_Extension_vsixmanifest" Source="..\Bin\VS\extension.vsixmanifest"/>
            </Component>
            <Component Id="VS2013_license_txt" Guid="{C2F98AAC-8CD2-49C1-8934-2583F5B200A9}" Directory="VS2013ExtNuBuildV1ResourcesFolder">
               <File Id="VS2013_license_txt" Source="..\Bin\VS\Resources\license.txt"/>
            </Component>
            <Component Id="VS2013_NuBuild_png" Guid="{475F8FB6-523D-48E0-A035-A5002EDFF72A}" Directory="VS2013ExtNuBuildV1ResourcesFolder">
               <File Id="VS2013_NuBuild_png" Source="..\Bin\VS\Resources\nubuild.png"/>
            </Component>
            <Component Id="VS2013_NuProj_zip" Guid="{B05A4EF3-2A14-4139-8DA3-E9D5850A08B1}" Directory="VS2013ExtNuBuildV1ProjectTemplatesFolder">
               <File Id="VS2013_NuProj_zip" Source="..\Bin\VS\ProjectTemplates\NuProj.zip"/>
            </Component>
            <Component Id="VS2013_NuSpec_zip" Guid="{AACC64BF-A5B7-4456-828B-EE4D8E9967AB}" Directory="VS2013ExtNuBuildV1ItemTemplatesFolder">
               <File Id="VS2013_NuSpec_zip" Source="..\Bin\VS\ItemTemplates\NuSpec.zip"/>
            </Component>
            -->
            <Component Id="VS2013_NuBuild_Package_dll" Guid="{77654179-ea63-4270-8e48-c75d6988e029}" Directory="VS2013ExtNuBuildV2Folder">
               <File Id="VS2013_NuBuild_Package_dll" Source="..\Bin\VS\NuBuild.VS.Package.dll"/>
            </Component>
            <Component Id="VS2013_NuBuild_Core_dll" Guid="{d3058dab-f2f5-476b-8084-68a554b30a93}" Directory="VS2013ExtNuBuildV2Folder">
               <File Id="VS2013_NuBuild_Core_dll" Source="..\Bin\NuBuild.Core.dll"/>
            </Component>
            <Component Id="VS2013_NuBuild_Package_pkgdef" Guid="{ddbff02f-f44a-4a8c-885b-94449835ecf3}" Directory="VS2013ExtNuBuildV2Folder">
               <File Id="VS2013_NuBuild_Package_pkgdef" Source="..\Bin\VS\NuBuild.VS.Package.pkgdef"/>
            </Component>
            <Component Id="VS2013_Extension_vsixmanifest" Guid="{145385ca-30d1-44a9-91fa-bbecc75d284e}" Directory="VS2013ExtNuBuildV2Folder">
               <File Id="VS2013_Extension_vsixmanifest" Source="..\Bin\VS\extension.vsixmanifest"/>
            </Component>
            <Component Id="VS2013_license_txt" Guid="{b4216875-f791-49ed-9eb9-360fef79a40d}" Directory="VS2013ExtNuBuildV2ResourcesFolder">
               <File Id="VS2013_license_txt" Source="..\Bin\VS\Resources\license.txt"/>
            </Component>
            <Component Id="VS2013_NuBuild_png" Guid="{361bba1c-7469-4502-aea1-638454dfe546}" Directory="VS2013ExtNuBuildV2ResourcesFolder">
               <File Id="VS2013_NuBuild_png" Source="..\Bin\VS\Resources\nubuild.png"/>
            </Component>
            <Component Id="VS2013_NuProj_zip" Guid="{1cc4ec22-bec9-460c-b664-f8231dbaa44c}" Directory="VS2013ExtNuBuildV2ProjectTemplatesFolder">
               <File Id="VS2013_NuProj_zip" Source="..\Bin\VS\ProjectTemplates\NuProj.zip"/>
            </Component>
            <Component Id="VS2013_NuSpec_zip" Guid="{c393cb41-a4bd-4816-89ff-227fdd27c344}" Directory="VS2013ExtNuBuildV2ItemTemplatesFolder">
               <File Id="VS2013_NuSpec_zip" Source="..\Bin\VS\ItemTemplates\NuSpec.zip"/>
            </Component>
         </Feature>
         <!-- .nuproj Extension Registry -->
         <!--<Component Id="NuBuild_Reg_nuproj" Guid="*" Directory="MSBuildNuBuildV1Folder">
            <RegistryKey Root="HKCR" Key=".nuproj">
               <RegistryValue Type="string" Value="NuBuild.NuProj"/>
            </RegistryKey>
            <RegistryKey Root="HKCR" Key="NuBuild.NuProj">
               <RegistryValue Type="string" Value="NuBuild project file"/>
               <RegistryKey Key="DefaultIcon">
                  <RegistryValue Type="string" Value="[MSBuildNuBuildV1Folder]NuBuild.Core.dll"/>
               </RegistryKey>
               <RegistryKey Key="shell">
                  <RegistryKey Key="Open">
                     <RegistryKey Key="Command">
                        <RegistryValue Type="string" Value='[ProgramFilesFolder]Common Files\Microsoft Shared\MSEnv\VSLauncher.exe "%1"'/>
                     </RegistryKey>
                  </RegistryKey>
               </RegistryKey>
            </RegistryKey>
         </Component>-->
      </Feature>
      <MajorUpgrade
         AllowSameVersionUpgrades="yes"
         DowngradeErrorMessage="Downgrading is not supported."/>
      <SetProperty Id="ARPINSTALLLOCATION"
         Value="[INSTALLFOLDER]"
         After="CostFinalize"/>
      <!-- VS2010 Setup Actions -->
      <Property Id="VS2010INSTALLDIR">
         <RegistrySearch 
            Id="VS2010InstallRegistry" 
            Root="HKLM" 
            Key="SOFTWARE\Microsoft\VisualStudio\10.0" 
            Name="InstallDir" 
            Type="directory" />
      </Property>
      <CustomAction
         Id="SetVS2010Folder"
         Directory="VS2010Folder"
         Value="[VS2010INSTALLDIR]" />
      <CustomAction Id="ExecuteVS2010Setup"
         Directory="VS2010Folder"
         Return="asyncWait"
         Execute="deferred" 
         Impersonate="no"
         ExeCommand="[VS2010Folder]devenv.exe /setup"/>
      <!-- VS2012 Setup Actions -->
      <Property Id="VS2012INSTALLDIR">
         <RegistrySearch
            Id="VS2012InstallRegistry"
            Root="HKLM"
            Key="SOFTWARE\Microsoft\VisualStudio\11.0"
            Name="InstallDir"
            Type="directory" />
      </Property>
      <CustomAction
         Id="SetVS2012Folder"
         Directory="VS2012Folder"
         Value="[VS2012INSTALLDIR]" />
      <CustomAction Id="ExecuteVS2012Setup"
         Directory="VS2012Folder"
         Return="asyncWait"
         Execute="deferred" 
         Impersonate="no"
         ExeCommand="[VS2012Folder]devenv.exe /setup"/>
      <!-- VS2013 Setup Actions -->
      <Property Id="VS2013INSTALLDIR">
         <RegistrySearch 
            Id="VS2013InstallRegistry" 
            Root="HKLM" 
            Key="SOFTWARE\Microsoft\VisualStudio\12.0" 
            Name="InstallDir" 
            Type="directory" />
      </Property>
      <CustomAction
         Id="SetVS2013Folder"
         Directory="VS2013Folder"
         Value="[VS2013INSTALLDIR]" />
      <CustomAction Id="ExecuteVS2013Setup"
         Directory="VS2013Folder"
         Return="asyncWait"
         Execute="deferred" 
         Impersonate="no"
         ExeCommand="[VS2013Folder]devenv.exe /setup"/>
      <!-- Installation Ordering -->
      <InstallExecuteSequence>
         <Custom Action="SetVS2010Folder" After="CostFinalize">VS2010INSTALLDIR</Custom>
         <Custom Action="ExecuteVS2010Setup" Before="InstallFinalize">NOT REMOVE AND VS2010INSTALLDIR</Custom>
         <Custom Action="SetVS2012Folder" After="CostFinalize">VS2012INSTALLDIR</Custom>
         <Custom Action="ExecuteVS2012Setup" Before="InstallFinalize">NOT REMOVE AND VS2012INSTALLDIR</Custom>
         <Custom Action="SetVS2013Folder" After="CostFinalize">VS2013INSTALLDIR</Custom>
         <Custom Action="ExecuteVS2013Setup" Before="InstallFinalize">NOT REMOVE AND VS2013INSTALLDIR</Custom>
      </InstallExecuteSequence>
   </Product>
</Wix>
